body {  
  margin: 0;
  padding: 0;
  background: rgb(230,230,230);
  
  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,1) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,1) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,1) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,1) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,1) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,1) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,1) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,1) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,1) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/*Branching & Merging*/
.branch{
position: relative;
margin-bottom: 160px;
top: 100px;
}
.branch.r {
left: 100px;
}
.branch.l {
right: 100px;
}

.branching:before,
.branching:after,
.merging:before,
.merging:after {
width: 50px;
height: 50px !important;
content: ' ' !important;
background: transparent;
display: inline-block !important;
visibility: visible !important;
position: absolute;
z-index: 6;
}
.branching:before {
top: -65px;
}
.branching:after {
top: -15px;
}
.merging:before {
bottom: -35px;
}
.merging:after {
bottom: -85px;
}

.branch.r .branching:before {
right: 377px;
border-radius: 0 100%;
border-left: 6px solid rgb(80,80,80);
border-bottom: 6px solid rgb(80,80,80);
}
.branch.r .branching:after {
right: 327px;
border-radius: 0 100%;
border-right: 6px solid rgb(80,80,80);
border-top: 6px solid rgb(80,80,80);
}
.branch.l .branching:before {
left: 377px;
border-radius: 100% 0;
border-right: 6px solid rgb(80,80,80);
border-bottom: 6px solid rgb(80,80,80);
}
.branch.l .branching:after {
left: 327px;
border-radius: 100% 0;
border-left: 6px solid rgb(80,80,80);
border-top: 6px solid rgb(80,80,80);
}

.branch.r .merging:before {
left: 277px;
border-radius: 100% 0;
border-right: 6px solid rgb(80,80,80);
border-bottom: 6px solid rgb(80,80,80);
}
.branch.r .merging:after {
left: 227px;
border-radius: 100% 0;
border-left: 6px solid rgb(80,80,80);
border-top: 6px solid rgb(80,80,80);
}
.branch.l .merging:before {
left: 327px;
border-radius: 0 100%;
border-left: 6px solid rgb(80,80,80);
border-bottom: 6px solid rgb(80,80,80);
}
.branch.l .merging:after {
left: 377px;
border-radius: 0 100%;
border-right: 6px solid rgb(80,80,80);
border-top: 6px solid rgb(80,80,80);
}

/*start*/
.start{
    margin-top: -40px;
}
.start .direction-m .flag{
    width: 230px;
    height: 230px;
    padding: 40px;
    background: #f6ba52;
    border:10px solid #C27D02;
    box-shadow: 10px 7px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 10px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 7px 0px rgba(0,0,0,0.15);
}
.start h1{
    font-family: 'Signika', sans-serif;
    font-size: 2.5em;
    margin: .27em 0;
}
.start h2{
    font-family: 'Signika', sans-serif;
    font-size: 1em;
    margin: 0;
}

/*Middle*/
.direction-m {
width: 100%;
text-align: center;
position: relative;
z-index: 5;
}
.direction-m .flag-wrapper{
    display:table;
    margin: 0 auto;
}
.direction-m .flag{
width: 140px;
height: 140px;
padding: 10px;
border:6px solid green;
text-align: center;
vertical-align: middle;
border-radius:100%;
display: table-cell;
}

/*Endings*/
.ending{
margin-top: 100px;
}
.ending .flag:before{
width: 6px;
height: 100px;
left:-33px;
border:0;
border-radius:0;
margin-bottom: 250px;
background: rgb(80,80,80);
background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 60%, rgba(80,80,80,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 60%, rgba(80,80,80,0) 100%);
background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 60%, rgba(80,80,80,0) 100%);
background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 60%, rgba(80,80,80,0) 100%);
background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 60%, rgba(80,80,80,0) 100%);
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
    width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    background: rgb(255,255,255);
    z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
    margin: 1em 4em 0 4em;
}

}